*{
    padding: 0;
    margin: 0;
    font-family: 'Sofia Sans', sans-serif; 
    

}

.header{
    height: auto;
    width: 100%;
    background-color: rgb(11, 11, 11);
    background-position: center;

    

}

.header h6{
    padding-top: 45px;
    color: #749C75;
    font-size: 35px;
    padding-left: 2%;
    padding-right: 8%;
}

.IMG {
    height: 300px;
    width: 400px;
    padding-left: 8%;
    padding-right: 8%;
}

.IMG:hover{
    transform: translateX(3%);
    transition: ease-out .3s;
    opacity: 0.90;
}

.IMG-1 {

    height: 250px;
    width: 350px;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
}





.headerM{
    height: 70px;
    width: 100%;
    background-color: black;
    background-position: center;
}

.Login{
        margin: 60px 60px;
        width:100vh;
        padding: 8px;
        background-color: black;

}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 1%;
    min-width: 200px;
}






.logo{
    color: #F65C78;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    border: 2px solid   #F65C78;
    border-radius: 1px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    width: 30px;
    padding: 10px 5px;
    transition:all 1s;
    
    
    
}


.logo:hover{
    transform: translateX(5%);
    transition: ease-out .3s;

}

.menu{
    padding-bottom: 15px;
    padding-top: 15px;
}


nav ul li{

    list-style: none;
    display: inline-table;
    padding: 15px 15px;
    letter-spacing: 4px;


}

nav ul li a{

    color:  #ffffff;
    text-decoration: none;
    font-weight: bold;
    text-align: right;

}

nav ul li a:hover{

    color:  #39d8ed;
    transition: .4s;
}




.body{
    background-color: rgb(21, 21, 21);
    background-position: center;
    padding-top: 120px;
    width: auto;
    min-width: 300px;

}


body{      /* Suppose you want minimum width of 1000px */
    width: auto !important;  
    min-width: 500px;
/* Firefox will set width as auto */
          /* As IE6 ignores !important it will set width as 1000px; */
 }


.body h4{

    color:   #696162;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 200px;
}


.titleOne{

    color:  #F65C78;
    font-size: 55px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;


}


.body p{

    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    text-align: center;
    padding: 10px 70px;
    font-size: 16px;
    margin-bottom: 20px;
}


.Info {

    display: flex;
    align-items: center;
    line-height: 30px;
    flex-flow: wrap;
    margin-top: 10px;
    width: auto;
    height: fit-content;

}


.body p1{

    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    padding: 5px 15px ;
    font-size: 30px;
    text-align: center;
    word-wrap: break-word;
}


.projects{

    width: auto;
    background-color:  rgb(21, 21, 21);
    background-position: center;
    padding-bottom: 20px;
    padding-top: 500px;


}

.contact{
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 30px;

}

.title h2{

    color: #F65C78;
    font-size: 25px;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;
    padding-bottom: 50px;

}



.container{
    display: flex ;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    padding: 1px 1px 1px 1px;
    position: relative;
    display: grid;  
    grid-gap: 10px;  
    grid-template-columns: repeat(auto-fit, 210px);
    grid-template-rows: repeat(3, 210px);  
    height: auto-fit;

    
}



.container-1{

    padding: 20px 2px 1px 3px;
    position: relative;
    display: grid;  
    grid-gap: 5px;  
    background-color: #000000;

    
}


.Info h11{

    color:  #ffffff;
    font-size: 15px;
    letter-spacing: 1px;

}

.icon-linkedin{
    
    height: 30px;
    width: 30px;
    padding-left: 100px;
    padding-right: 20px;
    float: left;
}

.icon-mail{

    height: 30px;
    width: 30px;
    padding-left: 100px;
    padding-right: 20px;
    float: left;
}




.icon-profile{

    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;


}

.icon-profile:hover{
    transform: translateX(3%) ;
    transition: ease-out .3s;

}


.icon-git{

    height: 30px;
    width: 30px;
    padding-left: 100px;
    padding-right: 20px;
    float: left;
}

.skills{

    height: 40px;
    width: 40px;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: auto;
}

.Skills-List{

    background-color:  rgb(185, 16, 16);
    padding-top: 40%;
    margin-left: auto;
    margin-right: auto;
}

.Skills-List h3{ 
    color: #ffffff;
}

.Info h11:hover{

    opacity: 0.75;

}



.one{

    flex: 1;
    height: 200px;
    background-color:  rgb(32, 32, 32);
    width: auto;
    border-radius: 20px;
    align-content: center;
   


}

.one:hover{

    opacity: 0.75;
    transform: translateY(-3%);
    transition: ease-out .3s;

    

}

.one h3{
    color: #a7a7a7;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
    padding: 70px 15px 15px 15px
    
}

.two{
    flex: 1;
    height: 200px;
    background-color:  rgb(32, 32, 32);
    width: auto;
    border-radius: 20px;
}

.two:hover{

    opacity: 0.75;
    transform: translateY(-3%);
    transition: ease-out .3s;

}

.two h3{
    color: #a7a7a7;
    letter-spacing: 1px;
    font-size: 25px;
    text-align: center;
    padding: 85px 0px 50px 0px
    
}


.three{
    flex: 1;
    width: auto;
    background-color:  rgb(32, 32, 32);
    border-radius: 20px;
    height: 200px;
}


.three:hover{

    opacity: 0.75;
    transform: translateY(-3%);
    transition: ease-out .3s;

}

.three h3{
    color: #a7a7a7;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
    padding: 85px 0px 0px 0px
    
}


.four{
    flex: 1;
    height: 200px;
    background-color: #597a9a;
    width: auto;
    border-radius: 20px;
    box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
}


.four:hover{

    opacity: 0.75;
    transform: translateY(-3%);
    transition: ease-out .3s;


}

.four h3{
    color: #a7a7a7;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
    padding: 85px 20px 50px 20px
    
}


.IMG-1:hover{

    opacity: 0.75;
    transform: translateY(-3%);
    transition: ease-out .3s;
}
